$color-pink: #ffb5d7;
$color-pink-light: #ffe0ee;
$color-pink-neon: #da0078;

$color-black-strong: #0a0a0a;
$color-black-soft: #1c1c1c;

$color-white: #ffffff;
$color-gray-light: #eeeeee;
$color-black: #000000;

$font-text: 'Poppins', system-ui, sans-serif;
